.spot-detail-page{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    display: grid;
    justify-content: center;
    padding: 0 20px 0 17px;

}

.spot-boxed-page-wrapper{
    max-width: 1200px;
}

.spot-detail-main-panels {

    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 455 px;


}

.left-panel{
    aspect-ratio: 7 / 4.93;
    overflow: hidden;


}

.right-panel{
  aspect-ratio: 7 / 6;
  overflow: hidden;
  padding-left: 1%;



}

.detail-preview-image{
    width: 100%;
    height: 100%;
    max-height: 458px;
}

.detail-images{
    width: 49%;
    height: 50%;
    padding-right: 1%;


}

.middle-section{
    display: grid;
    grid-template-columns: 1.3fr .7fr;
}

.price-reviews{
    display: flex;
    align-items: center;

}
