
a {
    text-decoration: none;
    color: rgb(48, 114, 99);
    display: flex;
  }

  .nav-menu-wrapper {
    font-size: 1.0rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.left-aligned-wrapper {

    display: flex;
    justify-content: flex-start;
}

.logo_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    width:80px;
    height:80px;
}

.title-wrapper {
    display:flex;
    align-items: center;
}

ul {
    list-style-type: none;
  }

.right-aligned-wrapper {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.login-wrapper {
    display:flex;
    align-items: center;
}


